<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159654830401-g85sadf2bjlj5rbmq7dev9nefpg3hv3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159654830401-g85sadf2bjlj5rbmq7dev9nefpg3hv3u</string>
	<key>API_KEY</key>
	<string>AIzaSyBxDPnoDH_-DUcqPCv_voDyHXICMXB9vGw</string>
	<key>GCM_SENDER_ID</key>
	<string>159654830401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>petsCr.firebase</string>
	<key>PROJECT_ID</key>
	<string>pets-cr-native-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pets-cr-native-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159654830401:ios:44d2c8f4afe31e2e0401c0</string>
	<key>DATABASE_URL</key>
	<string>https://pets-cr-native-app.firebaseio.com</string>
</dict>
</plist>